.App {
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
}

.mantine-AppShell-navbar {
  background-color: rgba(112, 76, 182, 0.1);
}

.leaflet-container {
  position: relative;
  height: 90vh;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.leaflet-popup-content p {
  margin: 0 !important;
}

.mantine-AppShell-main {
  height: 100vh;
}

.mantine-NativeSelect-root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(112, 76, 182, 0.1);
}